*{
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    color:white;
    background-color: black;
    font-weight: bold;
	text-align: center;
}