div{
    -webkit-user-select: none;  
    -moz-user-select: none;
    -ms-user-select: none;
}

.screen{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: black;
    visibility: hidden;
}

.screen>div{
    display: block;
    height: min-content;
    width: max-content;
    margin: 0 auto;
    font-size: 60pt;
}

.active{
    visibility: visible;
}

#start{
    background-color: rgb(30,30,60);
}

#wait{
    background-color: rgb(230,45,30);
}

#click{
    background-color: rgb(30, 200, 60);
}

#time{
    overflow-y: auto;
    background-color: rgb(30,30,60);
}

#timeHistory{
    position: absolute;
    display: block;
    text-align: center;
    font-size: 55pt;
}
#timeHistory>ul{
    list-style:none;
    padding-bottom:10px
}

#fast{
    background-color: rgb(255, 210, 0);
}

